@font-face {
  font-family:'rosettaicons';
  src: url('https://abs.twimg.com/a/1396545424/font/rosetta-icons-Regular.eot');
  src: url('https://abs.twimg.com/a/1396545424/font/rosetta-icons-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://abs.twimg.com/a/1396545424/font/rosetta-icons-Regular.woff') format('woff'), /* Modern Browsers */ url('https://abs.twimg.com/a/1396545424/font/rosetta-icons-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  /* IE9 Compat Modes */
  /* Safari, Android, iOS */
}

.container:before,
.container:after {
  content: " "; /* Older browser do not support empty content */
  display: table;
}
.container:after{
  clear: both;
}
.container {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: url("../images/background.png") no-repeat;
  background-color: #c0deed;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  height: 45px;
  position: fixed;
  text-align: center;
  background-color: #ffffff;
  margin: 0px;
  padding: 10px;
  zoom: 1;
}

header:before,
header:after {
  content: " ";
  display: table;
}

header:after {
  clear: both;
}

header nav {
  float: left;
  margin-left: 0;
}

header ul {
  margin-bottom: -2px;
  padding: 0;
}

header li {
  display: inline;
  background-color: white;
  color: gray;
  font-size: 13px;
  font-weight: ;
  margin-left: 3px;
  margin-right: 5px;
}

#menu {
  float: left;
  width: 40%;
}

#logo {
  float: left;
  text-align: center;
  width: 20%;
}

#search {
  float: right;
  width: 40%;
}
#page-container {
  background-color: red;
  font-size: 14px;
  line-height: 18px;
  width: 890px;
  margin: 10px auto;
  padding: 0;
}

#sidebar {
  width: 290px;
  float: left;
  border-radius: 5px;
}

#sidebar div {
  border-style: solid 2px;
  border-color: #e1e8ed;
  margin-bottom: 10px;
}

#profile {
  border-radius: 5px;
  background: white;
  text-align: center;
}

  #avatar {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #000000;
    color: red;
    height: 135px;
  }

    #profile-picture {
      text-align: center;
      margin-left: 38%;
      width: 60px;
      height: 60px;
      border: solid 5px white;
      border-radius: 3px;
    }

  #stats {
    background: white;
    -webkit-box-shadow:inset 0 0 2px #e1e8ed;
    -moz-box-shadow:inset 0 0 2px #e1e8ed;
    text-align: center;
    color: gray;
    font-size: 10px;
  }

  #stats div {
    float: left;
    display: inline;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 25%;
  }

    #tweets-count {
      
    }

    #following-count {
      
    }

    #followers-count {
      
    }
  
  #new-tweet {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    background: #e5f2f7;
    outline: 0;
    border: 1px solid #c0deed;
  }

  #new-tweet input {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    width: 245px;
    border-radius: 3px;
    padding: 8px;
    color: #919ea9;
    margin: 10px;
    outline: 0;
    border: 1px solid #c0deed;
  }

#recommendations {
  background-color: #fff;
  border-radius: 5px;
}

  #to-follow{
    border-radius: 5px;
  }
  
  #find-friends {
    border-radius: 5px;
  }

#trends {
  background-color: #fff;
  border-radius: 5px;
}

#copyright {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  font-size: 13px;
  color: gray;
  line-height: 160%;
}

#twitterfeed {
  background: white;
  width: 590px;
  float: right;
  padding: 0;
  border-color: #9dabb6;
  border-radius: 5px;  /*changed this to 5 from 10 because it was toooo rounded compared to twitter page */
}

.title {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.content {
  background: white;
  border-top: 1px solid gray;
}

.avatar img { 
  float: left;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;

}

.user-info {
  float: right;
  margin: 10px 379px 0px 0px;
}

.handle {
  display: inline-block;
}

.time {
  display: inline-block;
}

.text {
  float: left;
  margin: 0px 0px 0px 6px;
}
