

body {
	background: #99CDE1;
	color: #292f33;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica", Arial, sans-serif;  
}


.top-bar {
	/* position: fixed; */
	width: 100%;
	height: 25px;
	text-align: left;
	background: white;
	margin: 0px;
	padding: 10px;	
	-webkit-box-shadow: 0 0 5px #CFCFCF;
	-moz-box-shadow: 0 0 5px #CFCFCF;
}

.top-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.top-bar li {
	display: inline;
	background-color: white;
	color: gray;
	font-size: 13px;
	font-weight: ;
	margin-left: 3px;
	margin-right: 5px;
}

#menu {
	float: left;
	width: 40%;
}

#logo {
	float: left;
	text-align: center;
	width: 20%;
}

#search {
	float: right;
	width: 40%;
}
#page-container {
	background-color: red;
	font-size: 14px;
	line-height: 18px;
	width: 890px;
	margin: 10px auto;
	padding: 0;
}

#sidebar {
	width: 290px;
	float: left;
	border-radius: 5px;
}

#sidebar div {
	background: #fff;
	margin-bottom: 10px;
	border-style: solid 2px;
	border-color: #e1e8ed;
}

#profile {
	border-radius: 5px;
}

	#avatar {
		border-radius: 5px;
		background-color: #000000;
		color: red;
	}

	#stats {
		-webkit-box-shadow:inset 0 0 2px #e1e8ed;
		-moz-box-shadow:inset 0 0 2px #e1e8ed;
	}

	#stats div {
		display: inline;
		text-align: center;
	}
	
	#new-tweet {
		border-radius: 5px;
	}

#recommendations {
	border-radius: 5px;
}

	#to-follow{
		border-radius: 5px;
	}
	
	#find-friends {
		border-radius: 5px;
	}

#trends {
	border-radius: 5px;
}

#copyright {
	border-radius: 5px;
}

#twitterfeed {
	background: white;
	width: 590px;
	float: right;
	padding: 0;
	border-color: gray;
	border-radius: 5px;  /*changed this to 5 from 10 because it was toooo rounded compared to twitter page */
}

.title {
	margin-bottom: 10px;
	margin-left: 10px;
	font-size: 20px;
}

.content {
	background: white;
	border-top: 1px solid gray;
}

.avatar img {	
	float: left;
	border-radius: 10px;
	margin: 10px 10px 10px 10px;

}

.header {
	float: right;
	margin: 10px 379px 0px 0px;
}

.handle {
	display: inline-block;
}

.time {
	display: inline-block;
}

.text {
	float: left;
	margin: 0px 0px 0px 6px;
}
